*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


/Ejemplo1_guia3
/Ejercicio1_guia2
/Ejercicio2_guia2
/Ejercicio2_guia3
/Ejercicio3_guia3
/Example1
/Guia2
/Guia4
/OperacionesApp
/platzi-wallet
